server:
  port: ${SERVER_PORT:8080}
  error:
    include-message: always
    include-binding-errors: always

spring:
  application:
    name: "${APP_NAME:MsFranchises}"
  devtools:
    add-properties: false
  jackson:
    default-property-inclusion: "NON_NULL"
  main:
    banner-mode: console

management:
  health:
    probes:
      enabled: true
  endpoint:
    health:
      show-details: "${SHOW_DETAILS:always}"
      enabled: true
      cache:
        time-to-live: "10s"
  endpoints:
    web:
      base-path: "${PATH_BASE:/ms-franchises/api/v1/}"
      path-mapping:
        health: "health"
        liveness: "liveness"
        readiness: "readiness"
      exposure:
        include: "health, liveness, readiness"

springdoc:
  version: 1.0.0
  api-docs:
    path: ${PATH_BASE:/ms-franchises/api/v1/}api-docs
  swagger-ui:
    path: ${PATH_BASE:/ms-franchises/api/v1/}swagger.html
    disable-swagger-default-url: true
    urls:
      - name: MsFranchises
        url: ${PATH_BASE:/ms-franchises/api/v1/}api-docs
    urlsPrimaryName: MsFranchises

entry-points:
  reactive-web:
    consult-path-base: "${PATH_BASE:/ms-franchises/api/v1/}"

    franchiseCreate: "franchises"
    franchiseRename: "franchises/{franchiseId}/name"
    topStockByFranchise: "franchises/{franchiseId}/products/top-stock"
    franchiseTree: "franchises/tree"

    branchCreate: "franchises/{franchiseId}/branches"
    branchRename: "branches/{branchId}/name"

    productCreate: "branches/{branchId}/products"
    productDelete: "branches/{branchId}/products/{productId}"
    productStockUpdate: "products/{productId}/stock"
    productRename: "products/{productId}/name"

    requiredHeaders:
      general: "${REQUIRED_HEADERS_GENERAL:message-id}"
    config:
      allowedHost: "${ALLOWED_HOST:http://localhost:4200,http://localhost:8080}"

aws:
  secrets-manager:
    region: "${AWS_REGION:us-east-1}"
    secretName: "${DB_SECRET_NAME:ms-franchises/mysql}"
    endpoint: "${AWS_SM_ENDPOINT:http://localhost:4566}"
    accessKeyId: "${AWS_ACCESS_KEY_ID:test}"
    secretAccessKey: "${AWS_SECRET_ACCESS_KEY:test}"

mysql:
  pool:
    initial-size: ${MYSQL_POOL_INITIAL:2}
    max-size: ${MYSQL_POOL_MAX:10}
    max-idle-time: ${MYSQL_POOL_MAX_IDLE:30m}
    max-life-time: ${MYSQL_POOL_MAX_LIFE:60m}
    acquire-retry: ${MYSQL_POOL_ACQUIRE_RETRY:3}

logging:
  masked-fields: "${LOGGING_MASKED_FIELDS:authorization,accessToken,password,refreshToken,creditCard,number,serialNumber,clientSecret}"
  level:
    org.springframework.web: "${LOG4J_LEVEL:INFO}"
    co.com.nequi: "${LOG4J_LEVEL:INFO}"
    io.r2dbc.spi: "${LOG4J_LEVEL:INFO}"