services:
  msfranchises:
    image: msfranchises:local
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    container_name: msfranchises-app
    restart: unless-stopped
    environment:
      TZ: "America/Bogota"
      SERVER_PORT: "8080"
      PATH_BASE: "/ms-franchises/api/v1/"

      AWS_REGION: "us-east-1"
      AWS_SM_ENDPOINT: "http://msfranchises-localstack:4566"
      AWS_ACCESS_KEY_ID: "test"
      AWS_SECRET_ACCESS_KEY: "test"
      DB_SECRET_NAME: "ms-franchises/mysql"
    ports:
      - "8080:8080"

networks:
  default:
    external: true
    name: santinet